<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>product_list</title>
	</head>
	<body>
		<h2>상품 목록 보기!</h2>
		<table border="1">
			
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>카테고리</th>
					<th>가격</th>
					<th>갯수</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.product_id}"></td>
					<td th:text="${product.product_name}"></td>
					<td th:text="${product.category}"></td>
					<td th:text="${product.price}"></td>
					<td th:text="${product.stock_quantity}"></td>
					<td><a th:href="@{/products/details/{id}(id=${product.product_id})}">상세보기 클릭</a></td>
					<td><a th:href="@{/products/delete/{id}(id=${product.product_id})}">상세보기 클릭</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/products/new}">새로운 제품 추가하기</a>
		<a th:href="@{/products/delete/all}">제품모두 삭제하기</a>
		
	</body>
</html>