<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h3>카페 상세보기</h3>
		<table border="1">
		<thead>
			<tr>
				<th>카페 아이디</th>
				<th>카페 이름</th>
				<th>카페 위치</th>
				<th>카페 운영시간</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${cafe}">
				<td th:text="${c.cafe_id}"></td>
				<td th:text="${c.name}"></td>
				<td th:text="${c.location}"></td>
				<td th:text="${c.openhours}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/cafe}">메인으로</a>
</body>
</html>